@import '../partials/colors';
@import '../partials/mixins';

.extras {
  
  display: inline-block;
  margin: 20px;
  @include shadowBoxes ($olivedrab);
  .assistant {
      @include shadowBoxes ($dark-red);
      margin: 20px;
  }
  .bouquet {
    margin: 20px;
    text-align: center;
      @include shadowBoxes ($orange-pastel);
      .bouquet-title {
        font-size: 30px;
        color: $dark-green;
      }
      .bouquet-btns {
        @include displayFlex(space-between);
        text-align: center;
        flex-wrap: wrap;
        margin: 20px;
        .btn-bouquet {
          margin: 10px;
        }
      }
  }
  .numberBaloon{
      @include shadowBoxes ($yellow);
      margin: 20px;
  }
  .piniata{
    @include shadowBoxes ($yellow);
    margin: 20px;
}
}

.btn-assistant {
    @include btn($olivedrab, $olivedrab);
}

.btn-baloons {
    @include btn($D, $D);
}

.btn-number {
    @include btn($olivedrab, $olivedrab);
}

.btn-pinata {
  @include btn($olivedrab, $olivedrab);
}