@import '../partials/colors';
@import '../partials/mixins';

.extras {
  margin: 1rem 0;
  @include shadowBoxes ($orange-pastel);

  .extras-title {
    font-size: 2rem;
    color: $green-pastel;
  }

  .assistant,
  .numberBaloon,
  .piniata,
  .ekoTableware {
    display: inline-block;
    margin: 1rem
  }

  .bouquet {
    margin: 20px;
    text-align: center;
      @include shadowBoxes ($green);
      .bouquet-title {
        font-size: 2rem;
        color: $dark-green;
        display: inline-block;
        margin: .5rem;
      }
      .bouquet-btns {
        @include displayFlex(space-between);
        text-align: center;
        flex-wrap: wrap;
        // margin: 20px;
        .btn-bouquet {
          margin: 1rem
        }
      }
  }
  
}

.btn-assistant {
    @include btn($olivedrab, $olivedrab);
}

.btn-baloons {
    @include btn($D, $D);
}

.btn-number {
    @include btn($olivedrab, $olivedrab);
}

.btn-pinata {
  @include btn($olivedrab, $olivedrab);
}