@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    font-size: 8px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    letter-spacing: .25rem;
}