/* --- Imports from app --- */
@import './scss/App.scss';
@import './scss/SelectedPrice/SelectedPrice.scss';
@import './scss/Component-atractions/Component-atractions.scss';
@import './scss/Component-extras/Component-extras.scss';

/* --- Imports from partials here --- */
@import './scss/partials/root';
@import './scss/partials/colors';



body {
  padding: 0;
  box-sizing: border-box;
  background-color: $blue;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}
