@import './partials/mixins';

.App {
  text-align: center;
  .App-header {
    background-color: $green;
    @include displayFlex-Center;
    font-size: calc(10px + 2vmin);
    color: $dark-red;
    @include shadowBoxes;
    @include marginBoxes;
    th {
      padding: 15px;
    }
  }

  .count {
    background-color: $indigo;
    .slider {
      width: 85%;
      @include marginBoxes;
      .slider-title {
        color: $yellow;  
      }
    }
    @include displayFlex-Center;
    @include shadowBoxes;
    @include marginBoxes;
  }

  .total {
    margin: auto;
    padding: 10px;
    max-width: 100px;
    color: $purple;
    background-color: $fuchsia;
    @include shadowBoxes;
  }
}

