@import '../partials/mixins';
@import '../partials/colors';


.atractions {
    margin-top: 1rem;
    // background-image: url("../images/wallpaper_green.svg");
    // background-size: cover;
    // background-repeat: no-repeat;
    @include shadowBoxes($dark-green);
    .sliders-title {
        display: inline-block;
        color: coral;
        font-size: 2rem;
        margin: 1rem;
    }
    .sliders {
        @include displayFlex(space-between);
        flex-wrap: wrap;
        text-align: center;
        
        .atractions-slider {
            width: 250px;
            letter-spacing: 1;
            align-items: center;
            margin: 1rem;
            .pigtails {
                color: $light-green;
            }
            .face-painting {
                color: $fuchsia;
            }
            .tatoos {
                color: $orange;
            }
            .baloons {
                color: $green;
            }
            .atractions-title {
                display: inline-block;
                margin: .25rem;
                font-size: 2rem;
            }
        }
        
    }
    .total-atractions {
        display: inline-block;
        margin: 5rem 0;
        color: $gold;
    }

}