@import '../partials/mixins';
@import '../partials/colors';


.atractions {
    margin-top: 1rem;
    background-image: url('../../images/wallpaper_gold.svg');
    background-size: cover;
    background-repeat: no-repeat;
    @include shadowBoxes($dark-green);
    .sliders-title {
        @include titleBoxes;
    }
    .sliders {
        @include displayFlex(center);
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 15px;
        .atractions-slider {
            width: 250px;
            letter-spacing: 1;
            align-items: center;
            margin: 5px;
            @include shadowBoxes(rgba(162, 0, 255, 0.7));
            border-radius: 2rem;
            // color: $orange;
            .pigtails {
                color: $light-green;
            }
            .face-painting {
                color: $fuchsia;
            }
            .tatoos {
                color: $orange;
            }
            .baloons {
                color: $green;
            }
            .atractions-title {
                display: inline-block;
                margin: .25rem;
                font-size: 2rem;
            }
        }
        
    }
    .total-atractions {
        display: inline-block;
        margin: 5rem 0;
        color: $gold;
    }

}